.azeret-mono-unique {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* shared style start*/
.sub-title{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.specific-goal-description{
    font-size: 16px;
    font-weight: 400;
    color: #555a64;
    margin-top: 16px;
    margin-bottom: 32px;
}
.goal-button{
    color: rgb(86,90,100);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid rgb(98,100,107);
    background-color: #fff;
}
.goal-item{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background-color: white;
    border-radius: 16px;
}
.text-area{
    width: 420px;
    background-color: white;
    text-align: start;
}
.section-common-title{
    text-align: center;    
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}
.section-common-description{
    text-align: center;
    color: #62646b;
    font-size: 16px;
    font-weight: 400;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.skills-item{
    text-align: start;
    width: 364px;
    padding: 40px;
    border-radius: 16px;
}
.skill-title{
    font-size: 24px;
    font-weight: 800;
    color: rgb(13,19,33);
    margin-top: 24px;
    margin-bottom: 8px;
}
.skill-description{
    color: #62646b;
    margin-bottom: 24px;
}
.learn-button-item{
    color: rgb(13,19,33);
    font-size: 16px;
    font-weight: 700;
    border: none;
    text-decoration:underline;
    background-color: #fff;
}
/* shared style end */
.nav-items{
    display: flex;
    justify-content: space-between;
}
.nick-name{
    margin-top: 50px;
    margin-bottom: 48px;
    margin-left: 150px;
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}
.download-resume-item{
    font-size: 20px;
    font-weight: 600;
    margin-top: 38px;
    margin-bottom: 36px;
    margin-right: 150px;
    padding: 17px 24px;
    color: #3d424d;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #3c4b5e;
}
.banner-item{
    text-align: center;
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 74px;
}
.banner-item>img{
    padding-top: 26px;
    padding-bottom: 32px;
}
.banner-item>h1{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    padding-top: 24px;
    padding-bottom: 32px;
}
.contact-button{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 8px;
    margin-bottom: 45px;
}
.learning-purpose-item{
    width: 1050px;
    text-align: center;
    margin: auto;
    background-color: #0D132105;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 16px;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 24px;
}
.dream-description{
    width: 750px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    color: #555963;
}
.inspiration-item{
    width: 1050px;
    margin: auto;
    background-color: white;
    margin-top: 90px;
    margin-bottom: 151px;
}
#my-targeted-skills-item{
    width: 1050px;
     text-align: center;
      margin: auto;
}
.targeted-skills{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}
.next-targeted-skills-item{
    width: 1050px;
    margin: auto;
    margin-bottom: 49px;
}
.next-targeted-skills{
    border: 1px solid #cfd0d3;
    border-radius: 16px;
    display: flex;
    gap: 24px;
    padding: 40px;
}
.next-skill-title{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
}
.next-skill-description{
    margin-top: 8px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(86,90,100);
}
.support-item{
    background-image: url(./assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1050px;
    height: 313px;
    margin: auto;
    text-align: center;
    border-radius: 16px;
}
.support-section-title{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    padding-top: 64px;
}
.support-section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(183,182,181);
    margin: auto;
    padding-top: 16px;
    padding-bottom: 24px;
}
#footer-section{
background-color: rgb(248,248,248);
}
.footer-items{
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: auto;
    margin-top: 80px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer-text-item{
    font-size: 20px;
    font-weight: 600;
    color: rgb(13,19,33);
}